<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="header">
          <h1>Clay's API!</h1>
          <h4><a href="/api">What is available</a></h4>
        </div>
      <div class="row">
        
        <h1>New Project!</h1>
              <form action="/api/project" method="post">
                <input type="text" name="name" placeholder="Project Name"><br>
                  <select name="platform">
                    <option>Platform of project</option>
                    <option value="Arduino">Arduino</option>
                    <option value="Mobile App">Mobile App</option>
                    <option value="Raspberry Pi">Raspberry Pi</option>
                    <option value="Web Development">Web Development</option>
                  </select><br>
                <input type="text" name="purpose" placeholder="Purpose"><br>
                <input type="text" name="skills" placeholder="Skills(separate with commas)"><br>
                <input type="text" name="items_needed" placeholder="materials(separate with commas")><br>
                <input type="url" name="source" placeholder="Source URL"><br>
                <div class="radio"> Completed?<br>
                  <input type="radio" name="complete" value="true">True<br>
                  <input type="radio" name="complete" value="false">False<br>
                </div>
                <input type="submit" value="Submit">
              </form>
      </div>
    </div>
  </body>
</html>
