<h1>New Project!</h1>
<form action="/api/project" method="post">
	<input type="text" name="name" placeholder="Project Name"><br>
	<select name="platform">
		<option>Platform of project</option>
		<option value="Arduino">Arduino</option>
		<option value="Mobile App">Mobile App</option>
		<option value="Raspberry Pi">Raspberry Pi</option>
		<option value="Web Development">Web Development</option>
	</select><br>
	<input type="text" name="purpose" placeholder="Purpose"><br>
	<input type="text" name="skills" placeholder="Skills(separate with commas)"><br>
	<input type="text" name="items_needed" placeholder="materials(separate with commas")><br>
	<input type="url" name="source" placeholder="Source"><br>
	<input type="radio" name="complete" value="true">
	<input type="radio" name="complete" value="false"><br>
	<input type="submit" value="Submit">
</form>