<h1>New Project!</h1>
<form action="/api/project" method="post">
	<input type="text" name="name" placeholder="Project Name">
	<input type="text" name="platform" placeholder="Platform">
	<input type="text" name="purpose" placeholder="Purpose">
	<input type="text" name="skills" placeholder="Skills(separate with commas)">
	<input type="text" name="items_needed" placeholder="materials(separate with commas")>
	<input type="url" name="source" placeholder="Source">
	<input type="radio" name="complete" value="true">
	<input type="radio" name="complete" value="false">
	<input type="submit" value="Submit">
</form>