<!-- make so that current info for object is in placeholder -->





<h1>Edit Project!</h1>
          <form action="/api/project" method="post">
            <input type="text" name="name" placeholder="Project Name"><br>
            <input type="text" name="platform" placeholder="Platform"><br>
            <input type="text" name="purpose" placeholder="Purpose"><br>
            <input type="text" name="skills" placeholder="Skills(separate with commas)"><br>
            <input type="text" name="items_needed" placeholder="materials(separate with commas")><br>
            <input type="url" name="source" placeholder="Source"><br>
            <input type="radio" name="complete" value="true">True<br>
            <input type="radio" name="complete" value="false">False<br>
            <input type="submit" value="Submit">
          </form>